@tailwind preflight;
@tailwind components;

body {
  @apply bg-grey-light font-sans;
}

a {
  @apply text-teal no-underline;
}
a:hover {
  @apply underline;
}

.top-nav-item {
  @apply text-grey-darker text-sm mr-4 font-semibold pb-6 border-b-2 border-solid border-transparent;
}

.top-nav-item:hover {
  @apply text-teal border-teal no-underline;
}

.hero {
  background: url('/hero.jpeg');
}

.btn-teal {
  @apply bg-teal text-white font-medium py-2 px-4 rounded-full;
}

.btn-teal:hover {
  @apply bg-teal-dark;
}

@tailwind utilities;
